.collapse{
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    height: 100%;
    width: 10%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }

  .active, .collapse:hover {
    background-color: #ccc;
  }

  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }