.profilePage{
    margin:auto;
    width:100%;
    background-color: rgb(17, 17 ,17 , 1);
    color:white;
    max-width: 95vw;
    border-radius: 10px;
    box-shadow: 6px 10px 17px 10px #333333;
}
.card-container {
    display: flex;
    justify-content: center;
    margin-top: 10vw;
    
}
.userBio{
    box-shadow: inset .2em .2em  red;
    max-width: 50%;
    margin:auto;
    text-align:left;
    font-size: 1.7vw;
    padding: 1.2vw;
}
.userName{
    padding-top: 2%;
    text-align: center;
}
.userBio{
    background-color: #333333;
}
.card-title{
    font-size: 2vw;
}

.card-text{
    padding: 0;
    font-size: 2.2vw;
}
.card {
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    
}

.card:hover {
    box-shadow: 0 32px 24px 0 rgba(0,0,0,0.2);
    transform: scale(1.2);
    transition: .5s;
  }
  

img {
    width: 400px;
}

.favGame{
    text-align: center;
}




.comment{
    color: white;
    background-color: purple;
    width: 50%;
    margin: auto;
    text-align: center;
    border-collapse: separate;
    border-radius: 10%;
    
}

.content-under{
    display: flex;
    margin: auto;
    margin-top: 8em;
    width: 90%;
    flex-direction: column;
    background-color: #333333;
    border-radius: 12px;
}

.input-text {
    margin: auto;
    font-size: 1.5em;
    margin-bottom: 1em;
}

p.comment-rating, p.comment-title, p.comment-content {
    padding: 0;
}

.comment-title {
    background-color: darkgreen;
}

.comment-rating {
    background-color: red;
}

.changeGame {
    background-color: green;
    width: 15rem;
    margin-bottom: 1em;
    margin-left: 1.4em;
    border: 0px;
}

.comment-submit {
    
    width: 15rem;
    margin: auto;
    margin-bottom: 3em;
    background-color: green;
}

.someRedBtn{
    background-color: red;
    border: 0px;
    border-radius: 5%;
    width:10rem;
    margin-top: 1%;
    margin-left: 46%;
    margin-bottom: .5%;
}