@font-face {
    font-family: 'dimitri_swankregular';
    src: url('../public/fonts/tfont2-webfont.woff') format('woff'),
         url('../public/fonts/tfont2-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}


h1{
    font-family: dimitri_swankregular;
    font-size: 65px;
    text-align: center;
    color:rgb(231, 25, 25);
}

body{
    background-color: rebeccapurple;
}