.card-container {
    display: flex;
    justify-content: center;
}

.card {
    background-color: rgba(255, 255, 255, 0.5);
    margin-right: 1.5em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
  

img {
    width: 400px;
}

