.container{
    width: 350px;
    height: 180px;
    background-color: aliceblue;
}

.input-text{
    margin: 10px;
}

.button{
    margin: 20px;
    background-color: blueviolet;
    color: white;
}
  
/* Animation property */
.button {
    animation: wiggle 2s linear infinite;
  }
  
  /* Keyframes */
  @keyframes wiggle {
    0%, 7% {
      transform: rotateZ(0);
    }
    15% {
      transform: rotateZ(-15deg);
    }
    20% {
      transform: rotateZ(10deg);
    }
    25% {
      transform: rotateZ(-10deg);
    }
    30% {
      transform: rotateZ(6deg);
    }
    35% {
      transform: rotateZ(-4deg);
    }
    40%, 100% {
      transform: rotateZ(0);
    }
  }
  

  
  .button {
    position: absolute;
    left: calc(50% - 3em);
    top: calc(50% - 2em);
    
    
  }  